<% provide(:title, 'Welcome') %>

<div class="center hero-unit" xmlns="http://www.w3.org/1999/html">
  <h1>Welcome to SubConTraX</h1>

  <h2>
    This is the WELCOME page for the
    <a href="http://miyasolutions.com/">MiYa Solutions LLC</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="row-fluid">
<div class="span8 offset4 ">8 offset 4444444444444444444444444444444444444444444444444444444444444444444444444444
  <div class="row-fluid">
    <div class="span8"> 5
    </div>
  </div>
</div>
</div>