<% provide(:title, 'Welcome') %>

<div class="center hero-unit">
  <h1>Welcome to SubConTraX</h1>

  <h2>
    This is the WELCOME page for the
    <a href="http://miyasolutions.com/">MiYa Solutions LLC</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
