<li>
  <%= link_to ticket.name, ticket %>
  <%= text_field_tag "Description", ticket.description %>
  <%= link_to "Delete", ticket, method: :delete, confirm: "You sure?", remote: true, id: "delete#{ticket.id}" %>
</li>