<%= provide(:title, 'All Tickets') %>
<h1>All Tickets</h1>

<%= form_tag tickets_path, id: "search_form", :method => :get, :remote => true do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<ul class="users" id="tickets">

</ul>