<% provide(:title, @ticket.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @ticket.name %>
      </h1>
      <%= @ticket.description %>
    </section>
  </aside>
</div>