<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <% if micropost.created_at.nil? %>
        Nil Micropost
    <% else %>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% end %>
  </span>
</li>