<%= provide(:title, 'New Service Call') %>
<h1>New Organization</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@organization) do |f| %>
        <%= render 'fields', f: f %>
        <div>
          <%= f.submit "Create", class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
  </div>
</div>