<footer class="footer">
  <small>
    <a href= <%= root_path %>>SubConTraX</a>
    by MiYa Solutions
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="www.miyasolutions.com">MiYa Solutions LLC</a></li>
    </ul>
  </nav>
</footer>